<div class="app " ui-view="" ng-controller="AppCtrl">
  <div class="red bg-big ">
    <div ui-view="" class="fade-in-down smooth ">
      <div class="center-block w-xxl w-auto-xs p-v-md ">
        <div class="center-block w-xxl w-auto-xs p-v-md">
          <div class="navbar">
            <div class="navbar-brand m-t-lg text-center">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
                <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
                <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
                <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
                <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
              </svg>
              <span class="m-l inline">3 Works</span>
            </div>
          </div>

          <div class="p-lg panel md-whiteframe-z1 text-color m">
            <div class="m-b text-sm">
              Sign up to your 3 Works Account
            </div>


            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="md-form-group">
                  <%= f.email_field :email, autofocus: true, :class => "md-input " %>
                  <label>Email</label>
                </div>
                <div class="md-form-group">
                  <% if @validatable %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br/>
                  <%= f.password_field :password, autocomplete: "off", :class => "md-input" %>
                  <label>Password</label>
                </div>
                <div class="md-form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => "md-input" %>
                  <label>Password Confirmation</label>
                </div>
                <div class="m-b-md">
                  <label class="md-check">
                    <input type="checkbox" ng-model="agree" required><i class="red"></i> Agree the
                    <a href>terms and policy</a>
                  </label>
                </div>
                <div class="actions">
                  <%= f.submit "Sign up", :class => "md-btn md-raised red btn-block p-h-md" %>
                </div>
            <% end %>
          </div>

          <div class="p-v-lg text-center">
            <div>Already have an account?
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

