
<!-- Header -->
<header id="header" class="singleColor fullscreen" data-0="top: 0%;" data-400="top: -10%;">
  <div class="container">
    <div class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="logo">
          <a href="/" title="Home">
            <strong>3 Works</strong>
          </a>
        </h1>
      </div>

      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active sub">
            <a href="/" title="Home">Home</a>
          </li>
          <li class="sub">
            <a href="/#features" title="About">Features</a>

          </li>
          <li><a href="#" title="Contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="text-center wrap">
      <h2>Mastering vocabulary has never been easier </br> Get started with <strong>3 Works</strong></h2>

      <!-- Form -->
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <form class="form loginRegistrationForm">
            <div class="row">
              <div class="col-xs-12 col-sm-4 i">
                <div class="input">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 i">
                <a href="/app" class="btn btn-yellow btn-effect">Create my account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Mouse -->
    <div class="mouse"></div>
  </div>
</header>


<!-- Features -->
<section class="section features">
  <div class="container">
    <header class="text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <h2><strong>Features</strong></h2>

        </div>
      </div>
    </header>
    <div class="row text-center">

      <div class="col-sm-4 i">
        <span class="sprite icon icon-responsive"></span>
        <h3>
          <a href="/#" title="#">Fully Responsive</a>
        </h3>
        <p>Experience the beauty of 3 Works across devices</p>
      </div>
      <div class="col-sm-4 i">
        <span class="sprite icon icon-technologies"></span>
        <h3>
          <a href="/#" title="#">Highly Customizable</a>
        </h3>
        <p>Configure the number of words per word list. Hide easy words from read mode</p>
      </div>
      <div class="col-sm-4 i">
        <span class="sprite icon icon-animations"></span>
        <h3>
          <a href="/#" title="#">Detailed Reports</a>
        </h3>
        <p>Track your progress through detailed reports that highlight your strength & weakness</p>
      </div>
    </div>
  </div>
</section>

<!-- Functions -->
<!--<section class="section grey functions">-->
  <!--<div class="container">-->
    <!--<header class="text-center">-->
      <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">-->
          <!--<h2>Simple but <strong>Powerfull</strong></h2>-->
          <!--<p>You can use this section as presentation of your product or work. You can put your own images into computer screen and change it by clicking on icons. This is interactive presentation of your screens.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</header>-->

    <!--<div class="row">-->
      <!--<div class="col-lg-10 col-lg-offset-1">-->
        <!--<div class="row js-screens-filter">-->
          <!--<div class="col-sm-15 i">-->
            <!--<a href="/#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab">-->
              <!--<span class="sprite icon icon-about"></span>-->
            <!--</a>-->
            <!--<a href="/#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab" class="hoverExtend active">About us</a>-->
          <!--</div>-->
          <!--<div class="col-sm-15 i">-->
            <!--<a href="/#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab">-->
              <!--<span class="sprite icon icon-pricing-tables"></span>-->
            <!--</a>-->
            <!--<a href="/#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab" class="hoverExtend">Pricing tables</a>-->
          <!--</div>-->
          <!--<div class="col-sm-15 i">-->
            <!--<a href="/#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab">-->
              <!--<span class="sprite icon icon-blog"></span>-->
            <!--</a>-->
            <!--<a href="/#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab" class="hoverExtend">Blog page</a>-->
          <!--</div>-->
          <!--<div class="col-sm-15 i">-->
            <!--<a href="/#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab">-->
              <!--<span class="sprite icon icon-contact"></span>-->
            <!--</a>-->
            <!--<a href="/#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab" class="hoverExtend">Contact</a>-->
          <!--</div>-->
          <!--<div class="col-sm-15 i">-->
            <!--<a href="/#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab">-->
              <!--<span class="sprite icon icon-login"></span>-->
            <!--</a>-->
            <!--<a href="/#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab" class="hoverExtend">Login</a>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="tab-content notebook">-->
          <!--&lt;!&ndash; Notebook &ndash;&gt;-->
          <!--<%= image_tag image_path("landing/macbook.png"), alt: "",:width => "968",:height => "417", class: "img-responsive"%>-->


          <!--&lt;!&ndash; Images &ndash;&gt;-->
          <!--<div role="tabpanel" class="tab-pane fade image in active" id="tab-about-us">-->
            <!--<%= image_tag image_path("landing/about-us.jpg"), alt: "",:width => "667",:height => "417", class: "img-responsive"%>-->

          <!--</div>-->
          <!--<div role="tabpanel" class="tab-pane fade image" id="tab-pricing-tables">-->
            <!--<%= image_tag image_path("landing/pricing-tables.jpg"), alt: "",:width => "667",:height => "417", class: "img-responsive"%>-->

          <!--</div>-->
          <!--<div role="tabpanel" class="tab-pane fade image" id="tab-blog-page">-->
            <!--<%= image_tag image_path("landing/blog.jpg"), alt: "",:width => "667",:height => "417", class: "img-responsive"%>-->

          <!--</div>-->
          <!--<div role="tabpanel" class="tab-pane fade image" id="tab-contact">-->
            <!--<%= image_tag image_path("landing/contact.jpg"), alt: "",:width => "667",:height => "417", class: "img-responsive"%>-->

          <!--</div>-->
          <!--<div role="tabpanel" class="tab-pane fade image" id="tab-login">-->
            <!--<%= image_tag image_path("landing/login.jpg"), alt: "",:width => "667",:height => "417", class: "img-responsive"%>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!-- Footer -->
<footer id="footer">

  <!-- Copyright -->
  <div class="  copyright" style="background: #7532c7; color: #ffffff">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 i">Copyright © 2015 3 Works</div>
      </div>
    </div>
  </div>
</footer>
