<div class="l-canvas type_wide col_cont headerlayout_extended headerpos_fixed">


  <!-- HEADER -->
  <div class="l-header">

    <div class="l-subheader at_top" style="line-height: 40px; ">
      <div class="l-subheader-h i-cf">
        <div class="w-contacts">
          <div class="w-contacts-list">
            <div class="w-contacts-item for_phone">
              <i class="mdfi_communication_phone"></i>
              <span class="w-contacts-item-value">+321 123 4567</span>
            </div>
            <div class="w-contacts-item for_email">
              <i class="mdfi_communication_email"></i>
							<span class="w-contacts-item-value"><a href="../cdn-cgi/l/email-protection.html#660f08000926120315124805090b"><span class="__cf_email__" data-cfemail="94fdfaf2fbd4e0f1e7e0baf7fbf9">[email&#160;protected]</span>
                              <script cf-hash='f9e31' type="text/javascript">
                                  /* <![CDATA[ */
                                  !function () {
                                      try {
                                          var t = "currentScript"in document ? document.currentScript : function () {
                                              for (var t = document.getElementsByTagName("script"), e = t.length; e--;)if (t[e].getAttribute("cf-hash"))return t[e]
                                          }();
                                          if (t && t.previousSibling) {
                                              var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail");
                                              if (a) {
                                                  for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2)i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i);
                                                  e = document.createTextNode(e), c.parentNode.replaceChild(e, c)
                                              }
                                          }
                                      } catch (u) {
                                      }
                                  }();
                                  /* ]]> */</script>
                            </a></span>
            </div>
            <div class="w-contacts-item for_custom">
              <i class="mdfi_action_lock"></i>
              <span class="w-contacts-item-value"><a href='../pages/login-page/index.html'>User login</a></span>
            </div>
          </div>
        </div>

        <div class="w-socials">
          <div class="w-socials-list">
            <div class="w-socials-item facebook">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-facebook"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Facebook</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item twitter">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-twitter"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Twitter</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item instagram">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-instagram"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Instagram</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item behance">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-behance"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Behance</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item vk">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-vk"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Vkontakte</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item soundcloud">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-soundcloud"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">SoundCloud</span>
                </div>
              </div>
            </div>
            <div class="w-socials-item yelp">
              <a class="w-socials-item-link" target="_blank" href="index.html#">
                <i class="fa fa-yelp"></i>
              </a>

              <div class="w-socials-item-popup">
                <div class="w-socials-item-popup-h">
                  <span class="w-socials-item-popup-text">Yelp</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-subheader at_middle" style="line-height: 100px;">
      <div class="l-subheader-h i-widgets i-cf">

        <div class="w-logo  with_title">
          <a class="w-logo-link" href="../index.html">
            <span class="w-logo-title"><strong>ZEPHYR</strong></span>
          </a>
        </div>


        <!-- CART -->
        <div class="w-cart">
          <div class="w-cart-h">
            <a class="w-cart-link" href="../cart/index.html">
              <i class="mdfi_action_shopping_cart"></i>
              <span class="w-cart-quantity">0</span>
            </a>

            <div class="w-cart-notification">
              <span class="product-name">Product</span> was successfully added to your cart
            </div>
            <div class="w-cart-dropdown">
              <div class="widget woocommerce widget_shopping_cart">
                <div class="widget_shopping_cart_content"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-search">
          <span class="w-search-show"><i class="mdfi_action_search"></i></span>

          <div class="w-search-form-overlay"></div>
          <form class="w-search-form" action="http://zephyr.us-themes.com/">
            <div class="w-search-form-h">
              <div class="w-search-form-row">
                <div class="w-search-label">
                  <label for="s">Just type and press 'enter'</label>
                </div>
                <div class="w-search-input">
                  <input type="text" value="" id="s" name="s"/>
                  <span class="w-search-input-bar"></span>
                </div>
                <div class="w-search-submit">
                  <input type="submit" id="searchsubmit" value="Search"/>
                </div>
                <div class="w-search-close"> &#10005; </div>
              </div>
            </div>
          </form>
        </div>

        <!-- NAV -->
        <nav class="w-nav layout_hor animation_mdesign">
          <div class="w-nav-control">
            <i class="mdfi_navigation_menu"></i>
          </div>
          <ul class="w-nav-list level_1">
            <li id="menu-item-3629" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children has_sublevel w-nav-item level_1 menu-item-3629">
              <a class="w-nav-anchor level_1" href="../index.html"><span class="w-nav-title">HOME</span><span class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-4126" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item w-nav-item level_2 menu-item-4126">
                  <a class="w-nav-anchor level_2" href="index.html"><span class="w-nav-title">Home 2</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-4148" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-4148">
                  <a class="w-nav-anchor level_2" href="../home-3/index.html"><span class="w-nav-title">Home 3</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-4870" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-4870">
                  <a class="w-nav-anchor level_2" href="../home-4/index.html"><span class="w-nav-title">Home 4</span><span class="w-nav-arrow"></span></a>
                </li>
              </ul>
            </li>
            <li id="menu-item-3594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has_sublevel w-nav-item level_1 menu-item-3594">
              <a class="w-nav-anchor level_1" href="../pages/about/index.html"><span class="w-nav-title">PAGES</span><span class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3597">
                  <a class="w-nav-anchor level_2" href="../pages/about/index.html"><span class="w-nav-title">About Us</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3598" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3598">
                  <a class="w-nav-anchor level_2" href="../pages/services/index.html"><span class="w-nav-title">Services</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3612" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3612">
                  <a class="w-nav-anchor level_2" href="../pages/our-team/index.html"><span class="w-nav-title">Our Team</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3595" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3595">
                  <a class="w-nav-anchor level_2" href="../pages/contact/index.html"><span class="w-nav-title">Contact</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-4257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has_sublevel w-nav-item level_2 menu-item-4257">
                  <a class="w-nav-anchor level_2" href="../pages/index.html"><span class="w-nav-title">Page Examples</span><span class="w-nav-arrow"></span></a>
                  <ul class="w-nav-list level_3">
                    <li id="menu-item-4871" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-4871">
                      <a class="w-nav-anchor level_3" href="../pages/login-page/index.html"><span class="w-nav-title">Page &#8211; Login</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3645" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3645">
                      <a class="w-nav-anchor level_3" href="../pages/sidebar-right/index.html"><span class="w-nav-title">Page &#8211; Right Sidebar</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3603" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3603">
                      <a class="w-nav-anchor level_3" href="../pages/sidebar-left/index.html"><span class="w-nav-title">Page &#8211; Left Sidebar</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3636" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3636">
                      <a class="w-nav-anchor level_3" href="../pages/blank-page/index.html"><span class="w-nav-title">Page &#8211; Blank Page</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3593" class="menu-item menu-item-type-custom menu-item-object-custom w-nav-item level_3 menu-item-3593">
                      <a class="w-nav-anchor level_3" href="http://zephyr.us-themes.com/404/"><span class="w-nav-title">Page &#8211; 404 Error</span><span class="w-nav-arrow"></span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-3637" class="columns_3 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has_sublevel w-nav-item level_1 menu-item-3637">
              <a class="w-nav-anchor level_1" href="../portfolio-1/index.html"><span class="w-nav-title">PORTFOLIO</span><span class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-3583" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has_sublevel w-nav-item level_2 menu-item-3583">
                  <a class="w-nav-anchor level_2"><span class="w-nav-title">Portfolio Grids</span><span class="w-nav-arrow"></span></a>
                  <ul class="w-nav-list level_3">
                    <li id="menu-item-3638" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3638">
                      <a class="w-nav-anchor level_3" href="../portfolio-1/index.html"><span class="w-nav-title"><i class="fa fa-th"></i> Portfolio Grid 1</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3599" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3599">
                      <a class="w-nav-anchor level_3" href="../portfolio-2/index.html"><span class="w-nav-title"><i class="fa fa-th"></i> Portfolio Grid 2</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3600" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3600">
                      <a class="w-nav-anchor level_3" href="../portfolio-3/index.html"><span class="w-nav-title"><i class="fa fa-th"></i> Portfolio Grid 3</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3601" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3601">
                      <a class="w-nav-anchor level_3" href="../portfolio-4/index.html"><span class="w-nav-title"><i class="fa fa-th"></i> Portfolio Grid 4</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3630" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_3 menu-item-3630">
                      <a class="w-nav-anchor level_3" href="../portfolio-5/index.html"><span class="w-nav-title"><i class="fa fa-th"></i> Portfolio Grid 5</span><span class="w-nav-arrow"></span></a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-3585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has_sublevel w-nav-item level_2 menu-item-3585">
                  <a class="w-nav-anchor level_2"><span class="w-nav-title">Regular Projects</span><span class="w-nav-arrow"></span></a>
                  <ul class="w-nav-list level_3">
                    <li id="menu-item-3605" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3605">
                      <a class="w-nav-anchor level_3" href="../portfolio/project-slider/index.html"><span class="w-nav-title"><i class="fa fa-sliders"></i> Single Project &#8211; Slider</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3610" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3610">
                      <a class="w-nav-anchor level_3" href="../portfolio/project-image/index.html"><span class="w-nav-title"><i class="fa fa-image"></i> Single Project &#8211; Image</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3607" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3607">
                      <a class="w-nav-anchor level_3" href="../portfolio/project-video/index.html"><span class="w-nav-title"><i class="fa fa-play-circle"></i> Single Project &#8211; Video</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3646" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3646">
                      <a class="w-nav-anchor level_3" href="../portfolio/project-gallery/index.html"><span class="w-nav-title"><i class="fa fa-th-large"></i> Single Project &#8211; Gallery</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3611" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3611">
                      <a class="w-nav-anchor level_3" href="../portfolio/project-extended/index.html"><span class="w-nav-title"><i class="fa fa-star-o"></i> Single Project &#8211; Extended</span><span class="w-nav-arrow"></span></a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-3584" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has_sublevel w-nav-item level_2 menu-item-3584">
                  <a class="w-nav-anchor level_2"><span class="w-nav-title">Creative Projects</span><span class="w-nav-arrow"></span></a>
                  <ul class="w-nav-list level_3">
                    <li id="menu-item-3606" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3606">
                      <a class="w-nav-anchor level_3" href="../portfolio/creative-project-slider/index.html"><span class="w-nav-title"><i class="fa fa-sliders"></i> Creative Project &#8211; Slider</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3608" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3608">
                      <a class="w-nav-anchor level_3" href="../portfolio/creative-project-image/index.html"><span class="w-nav-title"><i class="fa fa-image"></i> Creative Project &#8211; Images</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3609" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3609">
                      <a class="w-nav-anchor level_3" href="../portfolio/creative-project-video/index.html"><span class="w-nav-title"><i class="fa fa-play-circle"></i> Creative Project &#8211; Video</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3647" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3647">
                      <a class="w-nav-anchor level_3" href="../portfolio/creative-project-gallery/index.html"><span class="w-nav-title"><i class="fa fa-th-large"></i> Creative Project &#8211; Gallery</span><span class="w-nav-arrow"></span></a>
                    </li>
                    <li id="menu-item-3648" class="menu-item menu-item-type-post_type menu-item-object-us_portfolio w-nav-item level_3 menu-item-3648">
                      <a class="w-nav-anchor level_3" href="../portfolio/creative-project-extended/index.html"><span class="w-nav-title"><i class="fa fa-star-o"></i> Creative Project &#8211; Extended</span><span class="w-nav-arrow"></span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-4256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has_sublevel w-nav-item level_1 menu-item-4256">
              <a class="w-nav-anchor level_1" href="../blog-masonry-grid/index.html"><span class="w-nav-title">BLOG</span><span class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-3602" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3602">
                  <a class="w-nav-anchor level_2" href="../blog-masonry-grid/index.html"><span class="w-nav-title">Blog &#8211; Masonry Grid</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3631" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3631">
                  <a class="w-nav-anchor level_2" href="../blog-large-image/index.html"><span class="w-nav-title">Blog &#8211; Large Image</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3632" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3632">
                  <a class="w-nav-anchor level_2" href="../blog-small-image/index.html"><span class="w-nav-title">Blog &#8211; Small Image</span><span class="w-nav-arrow"></span></a>
                </li>
              </ul>
            </li>
            <li id="menu-item-3634" class="columns_4 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has_sublevel w-nav-item level_1 menu-item-3634">
              <a class="w-nav-anchor level_1" href="../elements/index.html"><span class="w-nav-title">ELEMENTS</span><span class="w-nav-arrow"></span></a>
              <ul class="w-nav-list level_2">
                <li id="menu-item-3617" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3617">
                  <a class="w-nav-anchor level_2" href="../elements/accordion-and-toggles/index.html"><span class="w-nav-title"><i class="fa fa-bars"></i> Accordion &#038; Toggles</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3625" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3625">
                  <a class="w-nav-anchor level_2" href="../elements/actionbox/index.html"><span class="w-nav-title"><i class="fa fa-plane"></i> ActionBox</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3618" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3618">
                  <a class="w-nav-anchor level_2" href="../elements/button/index.html"><span class="w-nav-title"><i class="fa fa-cube"></i> Button</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3671" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3671">
                  <a class="w-nav-anchor level_2" href="../elements/client-logos/index.html"><span class="w-nav-title"><i class="fa fa-apple"></i> Client Logos</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3635" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3635">
                  <a class="w-nav-anchor level_2" href="../elements/counter/index.html"><span class="w-nav-title"><i class="fa fa-clock-o"></i> Counter</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3620" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3620">
                  <a class="w-nav-anchor level_2" href="../elements/iconbox/index.html"><span class="w-nav-title"><i class="fa fa-star-o"></i> IconBox</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3619" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3619">
                  <a class="w-nav-anchor level_2" href="../elements/gallery/index.html"><span class="w-nav-title"><i class="fa fa-flickr"></i> Image Gallery</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3622" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3622">
                  <a class="w-nav-anchor level_2" href="../elements/image-slider/index.html"><span class="w-nav-title"><i class="fa fa-image"></i> Image Slider</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3651" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3651">
                  <a class="w-nav-anchor level_2" href="../elements/message-box/index.html"><span class="w-nav-title"><i class="fa fa-info-circle"></i> Message Box</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3621" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3621">
                  <a class="w-nav-anchor level_2" href="../elements/pricing-table/index.html"><span class="w-nav-title"><i class="fa fa-money"></i>  Pricing Table</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3670" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3670">
                  <a class="w-nav-anchor level_2" href="../elements/columns/index.html"><span class="w-nav-title"><i class="fa fa-columns"></i> Responsive Columns</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3626" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3626">
                  <a class="w-nav-anchor level_2" href="../elements/separator/index.html"><span class="w-nav-title"><i class="fa fa-arrows-h"></i> Separator</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3627" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3627">
                  <a class="w-nav-anchor level_2" href="../elements/social-links/index.html"><span class="w-nav-title"><i class="fa fa-facebook-square"></i> Social Links</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3623" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3623">
                  <a class="w-nav-anchor level_2" href="../elements/tabs-and-timeline/index.html"><span class="w-nav-title"><i class="fa fa-folder-o"></i> Tabs &#038; Timeline</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3652" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3652">
                  <a class="w-nav-anchor level_2" href="../elements/team-member/index.html"><span class="w-nav-title"><i class="fa fa-futbol-o"></i> Team Member</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3628" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3628">
                  <a class="w-nav-anchor level_2" href="../elements/testimonial/index.html"><span class="w-nav-title"><i class="fa fa-comment-o"></i> Testimonial</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3639" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3639">
                  <a class="w-nav-anchor level_2" href="../elements/typography/index.html"><span class="w-nav-title"><i class="fa fa-font"></i> Typography</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-3624" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-3624">
                  <a class="w-nav-anchor level_2" href="../elements/video-player/index.html"><span class="w-nav-title"><i class="fa fa-play-circle"></i> Video Player</span><span class="w-nav-arrow"></span></a>
                </li>
                <li id="menu-item-4824" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_2 menu-item-4824">
                  <a class="w-nav-anchor level_2" href="../elements/ultimate-addons-elements/index.html"><span class="w-nav-title"><i class="fa fa-shield"></i> Ultimate Addons</span><span class="w-nav-arrow"></span></a>
                </li>
              </ul>
            </li>
            <li id="menu-item-4760" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4760">
              <a class="w-nav-anchor level_1" href="../shop/index.html"><span class="w-nav-title">SHOP</span><span class="w-nav-arrow"></span></a>
            </li>
          </ul>
        </nav>
        <!-- /NAV -->


      </div>
    </div>

  </div>
  <!-- /HEADER -->

  <!-- MAIN -->
  <div class="l-main">
    <div class="l-submain wpb_row full_width full_height">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width">
            <div class="wpb_revslider_element wpb_content_element ">
              <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#4f5459;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
                <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
                <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;max-height:500px;height:500px;">
                  <ul>    <!-- SLIDE  -->
                    <li data-transition="zoomout" data-slotamount="1" data-masterspeed="500"  data-saveperformance="off" data-title="Intro Slide">
                      <!-- MAIN IMAGE -->
                      <!-- LAYERS -->

                      <!-- LAYER NR. 1 -->
                      <div class="tp-caption zephyr-bg tp-fade tp-resizeme rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="0"
                           data-speed="800"
                           data-start="300"
                           data-easing="Linear.easeNone"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"

                           style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                      </div>

                      <!-- LAYER NR. 2 -->
                      <div class="tp-caption zephyr-01 customin fadeout tp-resizeme rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="0"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="500"
                           data-start="700"
                           data-easing="Power3.easeInOut"
                           data-splitin="chars"
                           data-splitout="none"
                           data-elementdelay="0.06"
                           data-endelementdelay="0.1"
                           data-endspeed="500"

                           style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">We make this
                        World better!
                      </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="parallaxvertical" data-slotamount="7" data-masterspeed="500" data-thumb="http://zephyr.us-themes.com/wp-content/uploads/shutterstock_215536837-320x200.jpg" data-saveperformance="off" data-title="Ken Burns Slide">
                      <!-- MAIN IMAGE -->
                      <!--<img src="../wp-content/uploads/shutterstock_215536837.jpg" alt="shutterstock_215536837" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right bottom">-->
                      <!-- LAYERS -->

                      <!-- LAYER NR. 1 -->
                      <div class="tp-caption zephyr-03 customin fadeout tp-resizeme rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="200"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1000"
                           data-start="1000"
                           data-easing="Power4.easeOut"
                           data-splitin="chars"
                           data-splitout="none"
                           data-elementdelay="0.14"
                           data-endelementdelay="0.1"
                           data-endspeed="300"

                           style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Ken Burns Effect
                      </div>

                      <!-- LAYER NR. 2 -->
                      <div class="tp-caption zephyr-04 customin tp-resizeme rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="150"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1000"
                           data-start="2200"
                           data-easing="Power4.easeOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"

                           style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">The UpSolution
                        Presents
                      </div>

                      <!-- LAYER NR. 3 -->
                      <div class="tp-caption black customin rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="300"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="1000"
                           data-start="2700"
                           data-easing="Power4.easeOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           data-captionhidden="on"

                           style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        <span class="wpb_button align_center"><a href="index.html#more" class="g-btn color_white type_raised"><i class="fa fa-arrow-down"></i><span>VIEW MORE</span></a></span>

                      </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="parallaxtoright,parallaxtoleft,parallaxtotop,parallaxtobottom,parallaxhorizontal,parallaxvertical,zoomout,zoomin" data-slotamount="7" data-masterspeed="500" data-thumb="http://zephyr.us-themes.com/wp-content/uploads/picjumbo.com_HNCK0082-320x200.jpg" data-saveperformance="off" data-title="Other Slide">
                      <!-- MAIN IMAGE -->
                      <%= image_tag image_path("landing/picjumbo.com_HNCK0082.jpg"), alt: "", class: "opacity", :data => {:bgposition=>"center center", :bgfir => "cover", :bgrepeat=>"no-repeat"}%>
                      <!-- LAYERS -->

                      <!-- LAYER NR. 1 -->
                      <div class="tp-caption zephyr-05 sfr tp-resizeme rs-parallaxlevel-0"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="-5"
                           data-speed="500"
                           data-start="800"
                           data-easing="Power4.easeInOut"
                           data-splitin="chars"
                           data-splitout="none"
                           data-elementdelay="0.05"
                           data-endelementdelay="0.1"
                           data-endspeed="300"

                           style="z-index: 5; max-width: ; max-height: ; white-space: normal;">Make Something People
                        Want
                      </div>
                    </li>
                  </ul>
                  <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>


                <style scoped>.tp-caption.black, .black {
                    color: #000;
                    text-shadow: none
                }

                .tp-caption.zephyr-01, .zephyr-01 {
                    font-size: 50px;
                    line-height: 60px;
                    font-weight: 700;
                    font-family: Roboto;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    background-color: transparent;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-shadow: none;
                    border-width: 0px;
                    border-color: rgb(0, 0, 0);
                    border-style: none
                }

                .tp-caption.zephyr-03, .zephyr-03 {
                    font-size: 66px;
                    line-height: 76px;
                    font-weight: 700;
                    font-family: Roboto;
                    color: #ffffff;
                    text-decoration: none;
                    text-align: center;
                    background-color: transparent;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-shadow: none;
                    border-width: 0px;
                    border-color: rgb(0, 0, 0);
                    border-style: none
                }

                .tp-caption.zephyr-04, .zephyr-04 {
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: Libre Baskerville;
                    color: #ffffff;
                    font-style: italic;
                    text-decoration: none;
                    background-color: transparent;
                    text-shadow: none;
                    border-width: 0px;
                    border-color: rgb(255, 255, 255);
                    border-style: none
                }

                .tp-caption.zephyr-05, .zephyr-05 {
                    font-size: 50px;
                    line-height: 60px;
                    font-weight: 700;
                    font-family: Roboto;
                    color: #000;
                    text-decoration: none;
                    background-color: transparent;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-shadow: none;
                    border-width: 0px;
                    border-color: rgb(0, 0, 0);
                    border-style: none
                }

                .tp-caption.zephyr-bg, .zephyr-bg {
                    color: rgb(255, 255, 255);
                    text-shadow: none;
                    background-color: rgba(10, 10, 10, 0.3);
                    text-decoration: none;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    border-width: 0px;
                    border-color: rgb(0, 0, 0);
                    border-style: none
                }</style>

                <script type="text/javascript">

                    /******************************************
                     -    PREPARE PLACEHOLDER FOR SLIDER    -
                     ******************************************/


                    var setREVStartSize = function () {
                        var tpopt = new Object();
                        tpopt.startwidth = 1140;
                        tpopt.startheight = 500;
                        tpopt.container = jQuery('#rev_slider_2_1');
                        tpopt.fullScreen = "off";
                        tpopt.forceFullWidth = "off";

                        tpopt.container.closest(".rev_slider_wrapper").css({height: tpopt.container.height()});
                        tpopt.width = parseInt(tpopt.container.width(), 0);
                        tpopt.height = parseInt(tpopt.container.height(), 0);
                        tpopt.bw = tpopt.width / tpopt.startwidth;
                        tpopt.bh = tpopt.height / tpopt.startheight;
                        if (tpopt.bh > tpopt.bw)tpopt.bh = tpopt.bw;
                        if (tpopt.bh < tpopt.bw)tpopt.bw = tpopt.bh;
                        if (tpopt.bw < tpopt.bh)tpopt.bh = tpopt.bw;
                        if (tpopt.bh > 1) {
                            tpopt.bw = 1;
                            tpopt.bh = 1
                        }
                        if (tpopt.bw > 1) {
                            tpopt.bw = 1;
                            tpopt.bh = 1
                        }
                        tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth));
                        if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on")tpopt.height = tpopt.startheight;
                        if (tpopt.fullScreen == "on") {
                            tpopt.height = tpopt.bw * tpopt.startheight;
                            var cow = tpopt.container.parent().width();
                            var coh = jQuery(window).height();
                            if (tpopt.fullScreenOffsetContainer != undefined) {
                                try {
                                    var offcontainers = tpopt.fullScreenOffsetContainer.split(",");
                                    jQuery.each(offcontainers, function (e, t) {
                                        coh = coh - jQuery(t).outerHeight(true);
                                        if (coh < tpopt.minFullScreenHeight)coh = tpopt.minFullScreenHeight
                                    })
                                } catch (e) {
                                }
                            }
                            tpopt.container.parent().height(coh);
                            tpopt.container.height(coh);
                            tpopt.container.closest(".rev_slider_wrapper").height(coh);
                            tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);
                            tpopt.container.css({height: "100%"});
                            tpopt.height = coh;
                        } else {
                            tpopt.container.height(tpopt.height);
                            tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);
                            tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
                        }
                    };

                    /* CALL PLACEHOLDER */
                    setREVStartSize();


                    var tpj = jQuery;
                    tpj.noConflict();
                    var revapi2;

                    tpj(document).ready(function () {

                        if (tpj('#rev_slider_2_1').revolution == undefined) {
                            revslider_showDoubleJqueryError('#rev_slider_2_1');
                        } else {
                            revapi2 = tpj('#rev_slider_2_1').show().revolution(
                                    {
                                        dottedOverlay: "none",
                                        delay: 8000,
                                        startwidth: 1140,
                                        startheight: 500,
                                        hideThumbs: 200,

                                        thumbWidth: 100,
                                        thumbHeight: 50,
                                        thumbAmount: 3,


                                        simplifyAll: "off",

                                        navigationType: "none",
                                        navigationArrows: "solo",
                                        navigationStyle: "custom",

                                        touchenabled: "on",
                                        onHoverStop: "off",
                                        nextSlideOnWindowFocus: "off",

                                        swipe_threshold: 0.7,
                                        swipe_min_touches: 1,
                                        drag_block_vertical: false,

                                        parallax: "mouse",
                                        parallaxBgFreeze: "on",
                                        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],


                                        keyboardNavigation: "off",

                                        navigationHAlign: "center",
                                        navigationVAlign: "bottom",
                                        navigationHOffset: 0,
                                        navigationVOffset: 20,

                                        soloArrowLeftHalign: "left",
                                        soloArrowLeftValign: "center",
                                        soloArrowLeftHOffset: 20,
                                        soloArrowLeftVOffset: 0,

                                        soloArrowRightHalign: "right",
                                        soloArrowRightValign: "center",
                                        soloArrowRightHOffset: 20,
                                        soloArrowRightVOffset: 0,

                                        shadow: 0,
                                        fullWidth: "on",
                                        fullScreen: "off",

                                        spinner: "spinner2",

                                        stopLoop: "off",
                                        stopAfterLoops: -1,
                                        stopAtSlide: -1,

                                        shuffle: "off",

                                        autoHeight: "off",
                                        forceFullWidth: "off",


                                        hideTimerBar: "on",
                                        hideThumbsOnMobile: "on",
                                        hideBulletsOnMobile: "on",
                                        hideArrowsOnMobile: "on",
                                        hideThumbsUnderResolution: 0,

                                        hideSliderAtLimit: 0,
                                        hideCaptionAtLimit: 600,
                                        hideAllCaptionAtLilmit: 0,
                                        startWithSlide: 0
                                    });


                        }
                    });
                    /*ready*/

                </script>


                <style type="text/css">
                    #rev_slider_2_1_wrapper .tp-loader.spinner2 {
                        background-color: #fff !important;
                    }
                </style>
              </div>
              <!-- END REVOLUTION SLIDER --></div>
            <div class="w-tabs" id="tabs_851195">
              <div class="w-tabs-list">
                <div class="w-tabs-item with_icon">
                  <div class="w-tabs-item-h">
                    <span class="w-tabs-item-icon"><i class="mdfi_action_settings"></i></span><span class="w-tabs-item-title">Deeply Customizable</span>
                  </div>
                </div>
                <div class="w-tabs-item with_icon">
                  <div class="w-tabs-item-h">
                    <span class="w-tabs-item-icon"><i class="mdfi_hardware_laptop_mac"></i></span><span class="w-tabs-item-title">Modern Appearance</span>
                  </div>
                </div>
                <div class="w-tabs-item with_icon">
                  <div class="w-tabs-item-h">
                    <span class="w-tabs-item-icon"><i class="mdfi_communication_ring_volume"></i></span><span class="w-tabs-item-title">Dedicated Support</span>
                  </div>
                </div>
              </div>
              <div class="w-tabs-section with_icon no_indents">
                <div class="w-tabs-section-header">
                  <div class="w-tabs-section-icon"><i class="mdfi_action_settings"></i></div>
                  <h5 class="w-tabs-section-title">Deeply Customizable</h5>

                  <div class="w-tabs-section-control"><i class="mdfi_hardware_keyboard_arrow_down"></i></div>
                </div>
                <div class="w-tabs-section-content">
                  <div class="w-tabs-section-content-h i-cf">
                    <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner"></span></div>

                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <div class="wpb_text_column ">
                      <div class="wpb_wrapper">

                        <h2 style="text-align: center;">DEEPLY CUSTOMIZABLE</h2>
                        <h5 style="text-align: center;"><span class="highlight highlight_faded">We create stunning websites that really work to promote<br/>
your company, out of thin air (or at least pixels).</span></h5>

                      </div>
                    </div>
                    <div class="g-hr type_invisible size_small no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <span class="wpb_button align_center"><a href="index.html#more" class="g-btn color_secondary type_raised size_big"><span>View More</span></a></span>

                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <div class="wpb_single_image wpb_content_element align_center">
                      <div class="wpb_wrapper">
                        <%= image_tag image_path("landing/ipaddd.png"), alt: "", class: "opacity", :height => 510, :width => 715%>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-tabs-section with_icon">
                <div class="w-tabs-section-header">
                  <div class="w-tabs-section-icon"><i class="mdfi_hardware_laptop_mac"></i></div>
                  <h5 class="w-tabs-section-title">Modern Appearance</h5>

                  <div class="w-tabs-section-control"><i class="mdfi_hardware_keyboard_arrow_down"></i></div>
                </div>
                <div class="w-tabs-section-content">
                  <div class="w-tabs-section-content-h i-cf">
                    <div class="wpb_text_column ">
                      <div class="wpb_wrapper">

                        <h2 style="text-align: center;">MODERN APPEARANCE</h2>

                      </div>
                    </div>
                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <div class="g-cols wpb_row offset_wide">
                      <div class="one-third">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-tablet"></i></div><h4 class="w-iconbox-title">Ultra Responsive</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible size_small no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-cog"></i></div><h4 class="w-iconbox-title">Fully Customizable</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                      </div>
                      <div class="one-third">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-eye"></i></div><h4 class="w-iconbox-title">Trendy Design</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible size_small no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-star-o"></i></div><h4 class="w-iconbox-title">Free Support</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                      </div>
                      <div class="one-third">
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-thumbs-o-up"></i></div><h4 class="w-iconbox-title">High Quality</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                        <div class="g-hr type_invisible size_small no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                        </div>
                        <div class="w-iconbox iconpos_left size_medium type_circle color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-download"></i></div><h4 class="w-iconbox-title">Free Updates</h4></span>

                          <div class="w-iconbox-text">
                            <p>Lorem ipsum dolor sit amet auctor, consectetur adipiscing elit. Proin non blandit tortor
                              tincidunt.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <span class="wpb_button align_center"><a href="index.html#more" class="g-btn color_contrast type_raised"><i class="mdfi_navigation_arrow_forward"></i><span>View More Features</span></a></span>
                  </div>
                </div>
              </div>
              <div class="w-tabs-section with_icon">
                <div class="w-tabs-section-header">
                  <div class="w-tabs-section-icon"><i class="mdfi_communication_ring_volume"></i></div>
                  <h5 class="w-tabs-section-title">Dedicated Support</h5>

                  <div class="w-tabs-section-control"><i class="mdfi_hardware_keyboard_arrow_down"></i></div>
                </div>
                <div class="w-tabs-section-content">
                  <div class="w-tabs-section-content-h i-cf">
                    <div class="wpb_text_column ">
                      <div class="wpb_wrapper">

                        <h2 style="text-align: center;">DEDICATED SUPPORT</h2>

                      </div>
                    </div>
                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <div class="g-cols wpb_row offset_wide">
                      <div class="one-third animate_afb">
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">

                            <h5 style="text-align: center;">
                              <span class="highlight highlight_secondary"><strong>1</strong>.</span> Analyze the
                              situation</h5>

                          </div>
                        </div>
                        <div class="wpb_single_image wpb_content_element align_center">
                          <div class="wpb_wrapper">
                            <%= image_tag image_path("landing/photodune-202687-smiling-cute-business-woman-with-colleagues-at-the-back-xs-500x333.jpg"), alt: "", class: "attachment-medium", :width => 500, :height => 333%>
                          </div>
                        </div>
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet,
                              consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
                          </div>
                        </div>
                      </div>
                      <div class="one-third animate_afb d1">
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">

                            <h5 style="text-align: center;">
                              <span class="highlight highlight_secondary"><strong>2</strong>.</span> Elaborate every
                              point</h5>

                          </div>
                        </div>
                        <div class="wpb_single_image wpb_content_element align_center">
                          <div class="wpb_wrapper">
                            <%= image_tag image_path("landing/photodune-369552-office-s-500x333.jpg"), alt: "", class: "attachment-medium", :width => 500, :height => 333%>
                          </div>
                        </div>
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">

                            <div class="lead  ">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="one-third animate_afb d2">
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">

                            <h5 style="text-align: center;">
                              <span class="highlight highlight_secondary"><strong>3</strong>.</span> Enjoy the result
                            </h5>

                          </div>
                        </div>
                        <div class="wpb_single_image wpb_content_element align_center">
                          <div class="wpb_wrapper">
                            <%= image_tag image_path("landing/shutterstock_210551230-500x333.jpg"), alt: "", class: "attachment-medium", :width => 500, :height => 333%>
                          </div>
                        </div>
                        <div class="wpb_text_column ">
                          <div class="wpb_wrapper">
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet,
                              consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                    </div>
                    <span class="wpb_button align_center"><a href="index.html#more" class="g-btn color_primary type_raised"><i class="mdfi_navigation_arrow_forward"></i><span>Go to Support Forum</span></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row color_primary with_video" id="more">
      <div class="l-submain-video">

      </div>
      <div class="l-submain-overlay" style="background-color: rgba(0,0,0,0.66);"></div>
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width animate_hfc">
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
            </div>
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h6 id="fancy-title-542546575cba7" class="mk-shortcode mk-fancy-title simple-style " style="text-align: center;">WE
                  WORK HARD TO GIVE YOU</h6>

              </div>
            </div>
            <div class="vc_custom_heading">
              <h2 style="font-size: 45px;color: #ffffff;line-height: 55px;text-align: center;font-family:Raleway;font-weight:200;font-style:normal">A
                UNIQUE EXPERIENCE</h2></div>
            <div class="g-hr type_invisible size_huge no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
            </div>
            <div class="g-cols wpb_row offset_wide">
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-html5"></i></div><h4 class="w-iconbox-title">Modern Design</h4></span></div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-thumbs-o-up"></i></div><h4 class="w-iconbox-title">High Quality</h4></span>
                </div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-tablet"></i></div><h4 class="w-iconbox-title">Ultra Responsive</h4></span>
                </div>
              </div>
              <div class="one-quarter">
                <div class="w-iconbox iconpos_top size_medium type_default color_secondary">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-star-o"></i></div><h4 class="w-iconbox-title">Free Updates</h4></span></div>
              </div>
            </div>
            <div class="g-hr type_invisible size_big no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row full_width full_height">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width">
            <div class="w-portfolio type_2 align_left columns_5 ratio_4-3 animate_revealgrid" id="us_portfolio_383070">
              <div class="w-portfolio-list">
                <div class="w-portfolio-item order_1 photography animate_reveal">
                  <div class="w-portfolio-item-h">
                    <a class="w-portfolio-item-anchor" href="../portfolio/project-slider/index.html" style=" background-color: #7e57c2; color: #ffffff;">
                      <div class="w-portfolio-item-image">
                        <%= image_tag image_path("landing/picjumbo.com_HNCK0082-600x450.jpg"), alt: "", class: "w-portfolio-item-image-first wp-post-image", :width => 600, :height => 450%>


                      </div>
                      <div class="w-portfolio-item-meta">
                        <div class="w-portfolio-item-meta-h">
                          <h2 class="w-portfolio-item-title">Single Project &#8211; Slider</h2>
                          <span class="w-portfolio-item-arrow"></span>
                          <span class="w-portfolio-item-text">August 22, 2014</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="w-portfolio-item order_2 illustration photography animate_reveal">
                  <div class="w-portfolio-item-h">
                    <a class="w-portfolio-item-anchor" href="../portfolio/creative-project-slider/index.html" style=" background-color: #ffd54f; color: #2b2420;">
                      <div class="w-portfolio-item-image">
                        <%= image_tag image_path("landing/shutterstock_112330751-600x450.jpg"), alt: "", class: "w-portfolio-item-image-first wp-post-image", :width => 600, :height => 450%>


                      </div>
                      <div class="w-portfolio-item-meta">
                        <div class="w-portfolio-item-meta-h">
                          <h2 class="w-portfolio-item-title">Creative Project &#8211; Slider</h2>
                          <span class="w-portfolio-item-arrow"></span>
                          <span class="w-portfolio-item-text">August 12, 2014</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="w-portfolio-item order_3 illustration web-design-2 animate_reveal">
                  <div class="w-portfolio-item-h">
                    <a class="w-portfolio-item-anchor" href="../portfolio/project-image/index.html" style=" background-color: #fff4ea; color: #38291d;">
                      <div class="w-portfolio-item-image">
                        <%= image_tag image_path("landing/picjumbo.com_IMG_6850-600x450.jpg"), alt: "", class: "w-portfolio-item-image-first wp-post-image", :width => 600, :height => 450%>


                      </div>
                      <div class="w-portfolio-item-meta">
                        <div class="w-portfolio-item-meta-h">
                          <h2 class="w-portfolio-item-title">Single Project &#8211; Image</h2>
                          <span class="w-portfolio-item-arrow"></span>
                          <span class="w-portfolio-item-text">August 9, 2014</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="w-portfolio-item order_4 photography animate_reveal">
                  <div class="w-portfolio-item-h">
                    <a class="w-portfolio-item-anchor" href="../portfolio/creative-project-image/index.html" style=" background-color: #ff5d44; color: #ffffff;">
                      <div class="w-portfolio-item-image">
                        <%= image_tag image_path("landing/port-6-600x450.jpg"), alt: "", class: "w-portfolio-item-image-first wp-post-image", :width => 600, :height => 450%>


                      </div>
                      <div class="w-portfolio-item-meta">
                        <div class="w-portfolio-item-meta-h">
                          <h2 class="w-portfolio-item-title">Creative Project &#8211; Image</h2>
                          <span class="w-portfolio-item-arrow"></span>
                          <span class="w-portfolio-item-text">July 30, 2014</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="w-portfolio-item order_5 video-2 animate_reveal">
                  <div class="w-portfolio-item-h">
                    <a class="w-portfolio-item-anchor" href="../portfolio/project-video/index.html" style=" background-color: #7cb342; color: #ffffff;">
                      <div class="w-portfolio-item-image">
                        <%= image_tag image_path("landing/picjumbo.com_IMG_9083-600x450.jpg"), alt: "", class: "w-portfolio-item-image-first wp-post-image", :width => 600, :height => 450%>


                      </div>
                      <div class="w-portfolio-item-meta">
                        <div class="w-portfolio-item-meta-h">
                          <h2 class="w-portfolio-item-title">Single Project &#8211; Video</h2>
                          <span class="w-portfolio-item-arrow"></span>
                          <span class="w-portfolio-item-text">July 16, 2014</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row color_secondary">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width animate_afb">
            <div class="w-actionbox controls_aside color_secondary">
              <div class="w-actionbox-text"><h2>ZEPHYR IS YOUR LAST WORDPRESS THEME EVER</h2></div>
              <div class="w-actionbox-controls">
                <a class="w-actionbox-button g-btn color_white type_raised size_big" href="http://themeforest.net/item/zephyr-material-design-theme/9865647?ref=UpSolution"><i class="fa fa-download"></i><span>Download Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_wide">
          <div class="full-width">
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h2 style="text-align: center;">SOME <strong>ZEPHYR</strong>S CORE FEATURES</h2>

              </div>
            </div>
            <div class="g-hr type_short size_big">
						<span class="g-hr-h">
							<i class="fa fa-chevron-down"></i>
						</span>
            </div>
            <div class="g-cols wpb_row offset_wide">
              <div class="one-third animate_wfc">
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-html5"></i></div><h4 class="w-iconbox-title">Modern Design</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-heart-o"></i></div><h4 class="w-iconbox-title">Free Updates &amp; Support</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-th"></i></div><h4 class="w-iconbox-title">Visual Page Builder</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
              </div>
              <div class="one-third animate_wfc d1">
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-thumbs-o-up"></i></div><h4 class="w-iconbox-title">High Quality</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                    </p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-globe"></i></div><h4 class="w-iconbox-title">100% Translatable</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-cog"></i></div><h4 class="w-iconbox-title">Fully Customizable</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
              </div>
              <div class="one-third animate_wfc d2">
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-tablet"></i></div><h4 class="w-iconbox-title">Ultra Responsive</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-picture-o"></i></div><h4 class="w-iconbox-title">Premium Sliders</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                    </p>
                  </div>
                </div>
                <div class="g-hr type_invisible no_icon">
						<span class="g-hr-h">
							<i class="fa fa-"></i>
						</span>
                </div>
                <div class="w-iconbox iconpos_left size_small type_default color_light">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="fa fa-bars"></i></div><h4 class="w-iconbox-title">4 Header Layouts</h4></span>

                  <div class="w-iconbox-text">
                    <p>Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the
                      world.</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-submain wpb_row full_width full_height color_alternate">
      <div class="l-submain-h g-html i-cf">
        <div class="g-cols wpb_row offset_none type_boxed">
          <div class="one-quarter animate_afb color_custom" >
            <div class="vc_empty_space" style="height: 200px"><span class="vc_empty_space_inner"></span></div>

          </div>
          <div class="one-quarter animate_afb d1">
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h3>Horizontal Parallax Backgrounds</h3>

                <p>Zephyr supports horizontal parallax backgrounds depending on cursor movement, and italso works on
                  mobile devices depending on its position.
              </div>
            </div>
          </div>
          <div class="one-quarter animate_afb d2 color_custom">
            <div class="vc_empty_space" style="height: 200px"><span class="vc_empty_space_inner"></span></div>

          </div>
          <div class="one-quarter animate_afb d3">
            <div class="wpb_text_column ">
              <div class="wpb_wrapper">

                <h3>Vertical Parallax Backgrounds</h3>

                <p>You can easily add parallax effect to backgrounds of any page sections. Also you can make it
                  reversed.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /MAIN -->

</div>
<!-- /CANVAS -->

<!-- FOOTER -->
<div class="l-footer">
  <!-- subfooter: top -->
  <div class="l-subfooter at_top">
    <div class="l-subfooter-h g-cols offset_default">
      <div class="one-third">
        <div id="text-2" class="widget widget_text"><h4>Text Widget</h4>

          <div class="textwidget">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci
              ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum
              volutpat quis. Suspendisse consectetur fringilla suctus.</p>
          </div>
        </div>
        <div id="text-5" class="widget widget_text"><h4>Get Social</h4>

          <div class="textwidget">
            <div class="w-socials">
              <div class="w-socials-list">
                <div class="w-socials-item facebook">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-facebook"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Facebook</span>
                  </div>
                </div>
                <div class="w-socials-item gplus">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-google-plus"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Google+</span>
                  </div>
                </div>
                <div class="w-socials-item vimeo">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-vimeo-square"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Vimeo</span>
                  </div>
                </div>
                <div class="w-socials-item instagram">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-instagram"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Instagram</span>
                  </div>
                </div>
                <div class="w-socials-item behance">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-behance"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Behance</span>
                  </div>
                </div>
                <div class="w-socials-item xing">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-xing"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>Xing</span>
                  </div>
                </div>
                <div class="w-socials-item soundcloud">
                  <a class="w-socials-item-link" target="_blank" href="index.html#">
                    <i class="fa fa-soundcloud"></i>
                  </a>

                  <div class="w-socials-item-popup">
                    <span>SoundCloud</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="one-third">
        <div id="recent-posts-3" class="widget widget_recent_entries"><h4>Recent Posts</h4>
          <ul>
            <li>
              <a href="../this-is-a-sticky-post/index.html">This is a Sticky Post</a>
              <span class="post-date">September 15, 2014</span>
            </li>
            <li>
              <a href="../this-post-looks-beautiful-even-with-long-interesting-title/index.html">This Post Looks
                Beautiful even with Long Interesting Title</a>
              <span class="post-date">September 12, 2014</span>
            </li>
            <li>
              <a href="../video-post/index.html">This is a Video Post</a>
              <span class="post-date">September 11, 2014</span>
            </li>
            <li>
              <a href="../satisfaction-lies-in-the-effort/index.html">Satisfaction Lies in the Effort</a>
              <span class="post-date">August 21, 2014</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="one-third">
        <div id="search-3" class="widget widget_search"><h4>Search Something</h4>

          <div class="w-search submit_inside">
            <form class="w-search-form" action="http://zephyr.us-themes.com/">
              <div class="w-search-input">
                <input type="text" value="" name="s" placeholder="search..."/>
                <i class="mdfi_action_search"></i>
                <span class="w-search-input-bar"></span>
              </div>
              <div class="w-search-submit">
                <input type="submit" value="Search"/>
              </div>
            </form>
          </div>
        </div>
        <div id="text-6" class="widget widget_text">
          <div class="textwidget">
            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_action_home"></i></div><h4 class="w-iconbox-title">Mountain View, CA 94043,
                          US</h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_content_mail"></i></div><h4 class="w-iconbox-title">
                          <a class="__cf_email__" href="../cdn-cgi/l/email-protection.html" data-cfemail="553c3b333a15302d34382539307b363a38">[email&#160;protected]</a>
                          <script cf-hash='f9e31' type="text/javascript">
                              /* <![CDATA[ */
                              !function () {
                                  try {
                                      var t = "currentScript"in document ? document.currentScript : function () {
                                          for (var t = document.getElementsByTagName("script"), e = t.length; e--;)if (t[e].getAttribute("cf-hash"))return t[e]
                                      }();
                                      if (t && t.previousSibling) {
                                          var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail");
                                          if (a) {
                                              for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2)i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i);
                                              e = document.createTextNode(e), c.parentNode.replaceChild(e, c)
                                          }
                                      }
                                  } catch (u) {
                                  }
                              }();
                              /* ]]> */</script>
                        </h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_communication_phone"></i></div><h4 class="w-iconbox-title">+321 123
                          4567</h4></span></div>

            <div class="w-iconbox iconpos_left size_tiny type_default color_contrast">
						<span class="w-iconbox-nolink">
						<div class="w-iconbox-icon">
                          <i class="mdfi_action_print"></i></div><h4 class="w-iconbox-title">+321 123 4568</h4></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- subfooter: bottom -->
  <div class="l-subfooter at_bottom">
    <div class="l-subfooter-h i-cf">
      <!-- NAV -->
      <nav class="w-nav layout_hor">
        <ul class="w-nav-list level_1">
          <li id="menu-item-3693" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3693">
            <a class="w-nav-anchor level_1" href="../index.html"><span class="w-nav-title">Home</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3615" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3615">
            <a class="w-nav-anchor level_1" href="../pages/about/index.html"><span class="w-nav-title">About</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3616" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3616">
            <a class="w-nav-anchor level_1" href="../portfolio-3/index.html"><span class="w-nav-title">Portfolio</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-4384" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-4384">
            <a class="w-nav-anchor level_1" href="../blog-masonry-grid/index.html"><span class="w-nav-title">Blog</span><span class="w-nav-arrow"></span></a>
          </li>
          <li id="menu-item-3613" class="menu-item menu-item-type-post_type menu-item-object-page w-nav-item level_1 menu-item-3613">
            <a class="w-nav-anchor level_1" href="../pages/contact/index.html"><span class="w-nav-title">Contact</span><span class="w-nav-arrow"></span></a>
          </li>
        </ul>
      </nav>
      <!-- /NAV -->
      <div class="w-copyright"> 2014 All rights reserved. ZEPHYR theme by
        <a href="http://us-themes.com/">UpSolution</a></div>

    </div>
  </div>

</div>
<!-- /FOOTER -->
<a class="w-toplink" href="index.html#"><i class="mdfi_hardware_keyboard_arrow_up"></i></a>